{
    "mongo_host": "127.0.0.1",
    "mongo_db": "bouncer",
    "mongo_collection": "session_map",
    "session_cookie": "sid",
    "failover_url": "http://example.com",
    "clean_uri_regexp": "^/logout",
    "clean_url": "http://example.com/logout",
    "listen_host": "127.0.0.1",
    "listen_port": "7990",
    "tracker_siteid": "1",
    "tracker_url": "http://piwik.example.com/piwik.php",
    "tracker_key": "<put your piwik token_auth here>"
}
